.navbar {
    background-color: #FFFFFF22;
}

.logo {
    margin-left: 0.75rem; 
    text-shadow: 0 -2px 2px #00000022;
}

.navbar-end {
    margin-left: auto;
}

.is-flex {
    display: flex !important;
}